.App {
  text-align: center;
}

#logo {
  max-width: 300px;
  pointer-events: none;
  display: flex;
  align-items: center;
}

.App-header {
  background-color: rgb(220, 217, 217);
  height: 844px;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 390px;
}

.UploadAndNewsFeed {
  background-color: white;
  color: black;
  overflow: scroll;
}

.Upload {
  background-color: white;
  color: black;
  height: 844px;
}
